@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #4DCAF0   ;
    --secondary-color: #466670 ;
    --accent1-color: #245E70;
    --accent2-color: #3C9FBD;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }
/* max size in the window */
#content {
    max-width:1600px;
    margin:0 auto
}

html {
    box-sizing: border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(250, 250, 250, 1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}
#logo_link {
    padding: 30px 50px;
}
nav a {
    text-align: center;
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    text-decoration: none;
    padding: 50px;
    transition: 3ms ease-in-out;
}
nav a:hover {
    border-bottom: 1px solid var(--primary-color);
}
.logo {
    width: 250px;
}
* {
    box-sizing:border-box;
    margin: 0;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  text-align: center;
  color: white;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* images text */
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
#section-banner img, #section-img img, footer div img, #main-project section img {
    width: 100%;
    max-width: 300px;
}

