@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Rock+Salt&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #396E94   ;
    --secondary-color: #E7C24F ;
    --accent1-color: #A42212;
    --accent2-color: white;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'rock salt';
    --paragraph-font: 'roboto', Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}
* {
    box-sizing: border-box;
  }
body {
    text-rendering: optimizeLegibility;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(255, 255, 255, 0.8);
}
nav {
    display: flex;
    justify-content: space-around;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
} 
nav a, .button-box, main section {
    text-align: center;
    color: var(--primary-color);
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -125px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 125px;
}
#background {
    height: 725px;
    background-color: #06d6a0;
}
body {
    background-color: #fcfbfb;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main section img {
    box-sizing: border-box;
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11; 
    grid-row: 4/9;
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}
/* header {
    background-color: #fafafa; 
} */
nav a:hover {
    background-color: black;
}
/* .book, .join
.book:hover, .join:hover */

.msg {
    background-color: #06d6a0;
}
nav a:hover {
    background-color: #e4ff1a;
    color: black;
} 
nav a {
    color: #118ab2;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    text-align: center;
    padding: 35px;
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.msg {
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2, .msg p {
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
footer {
    background-color: #073b4c;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer, footer a, footer a:hover {
    color: #fafafa;
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
}
footer .social img {
    padding-top: 15px;
}
footer p a:hover {
    text-decoration: underline;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.card-img {
    width: 100%;
    border: 10px solid #d9c2a3;
}
/* rivers page */
.cardR, .cardL, .cardF {
    position: relative;
    height: 850px;
    line-height: 1.5;
}
.cardL {
    height: 780px;
}
.cardR .page-title {
    position: inherit;
    background-color: #06D6A0;
    color: #fafafa;
    font-family: var(--paragraph-font);
    padding: 1em;
}
.cardR .page-title h3 {
    padding-right: 30em;
    text-align: left;
}
.cardR figure img, .cardF figure img {
    width: 100%;
    max-width: 800px;
    float: right;
    image-rendering: high-quality;
    border: none
}
.cardL {
    margin: 2em 0;
}
.cardL figure img {
    image-rendering: high-quality;
    max-width: 800px;
    width: 100%;
    float: left;
    border: none
}
.cardR figure, .cardF figure {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
}
.cardL figure {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
}
.cardR .card-content, .cardL .card-content, .cardF .card-content {
    font-family: var(--paragraph-font);
    text-align: left;
    font-size: 1em;
    padding-top: 9em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 21px;
}
.cardL .card-content {
    text-align: right;
    padding-top: 1em;
}
.cardF .card-content {
    padding-top: 1em;
}
.cardR .card-content h2, .cardL .card-content h2, .cardF .card-content h2 {
    font-family: var(--heading-font);
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/*end rivers page */
/* responsive */
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
