body {
    margin: 0;
    padding: 0;
    width: 730px;
    height: 500px;
    margin: 16px auto;
    vertical-align: top;
}
.banner {
    display: flex;
}
.banner img {
    width: 730px;
    height: auto;
}
.img-icon {
    position: relative;;
    background-color: dimgrey;
    width: 730px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.img-icon img {

    width: 170px;
    height: auto;
    /* display: block; */
    border: 7px solid rgb(49, 48, 48);    
    border-radius: 50%;
    margin: 3em auto;
}
